*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

.register-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(
135deg,
#6658ff,
#4426ff
);
padding:40px;
}

/* left */

.left-panel{
width:350px;
height:480px;

background:
linear-gradient(
135deg,
#675cff,
#3d1dff
);

color:white;

padding:60px 40px;

display:flex;
flex-direction:column;
justify-content:center;

border-radius:20px 0 0 20px;
}

.left-panel h1{
font-size:42px;
margin-bottom:20px;
}

.left-panel p{
margin-bottom:20px;
opacity:.8;
}

.login-switch{

padding:12px;

border:1px solid white;

background:transparent;

color:white;

border-radius:30px;

cursor:pointer;

width:140px;

transition:.3s;
}

.login-switch:hover{
background:white;
color:#4a3fff;
}

/* right */

.right-panel{

width:400px;
height:480px;

background:white;

padding:50px;

border-radius:0 20px 20px 0;

box-shadow:
0 10px 30px rgba(0,0,0,.2);

position:relative;
}

.help{

position:absolute;

right:25px;

top:25px;

font-size:13px;

color:gray;
}

.right-panel h2{

text-align:center;

color:#574bff;

margin-bottom:30px;
}

.right-panel input{

width:100%;

padding:12px;

margin-bottom:18px;

border:1px solid #ccc;

border-radius:6px;

outline:none;
}

.right-panel input:focus{

border:1px solid #574bff;
}

.terms{

display:flex;

gap:8px;

font-size:12px;

margin-bottom:20px;
}

.signup-btn{

width:100%;

padding:13px;

border:none;

border-radius:6px;

background:#5f58ff;

color:white;

font-size:15px;

font-weight:bold;

cursor:pointer;

transition:.3s;
}

.signup-btn:hover{

transform:translateY(-2px);

opacity:.9;
}